In [6]:
import pandas as pd
import numpy as np
pd.set_option('display.max_columns', None)

In [7]:
data = '/Users/leona/OneDrive/Documentos/GitHub/Machine-learning-studies-2/ensemble/AdaBoost/exercise/school_grades_weca_dataset.csv'

In [8]:
df = pd.read_csv(data)

In [9]:
df.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,reason,guardian,traveltime,studytime,failures,schoolsup,famsup,fatherd,activities,nursery,higher,internet,romantic,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,course,mother,2,2,0,yes,no,no,no,yes,yes,no,no,4,3,4,1,1,3,4,0,11,11
1,GP,F,17,U,GT3,T,1,1,at_home,other,course,father,1,2,0,no,yes,no,no,no,yes,yes,no,5,3,3,1,1,3,2,9,11,11
2,GP,F,15,U,LE3,T,1,1,at_home,other,other,mother,1,2,0,yes,no,no,no,yes,yes,yes,no,4,3,2,2,3,3,6,12,13,12
3,GP,F,15,U,GT3,T,4,2,health,services,home,mother,1,3,0,no,yes,no,yes,yes,yes,yes,yes,3,2,2,1,1,5,0,14,14,14
4,GP,F,16,U,GT3,T,3,3,other,other,home,father,1,2,0,no,yes,no,no,yes,yes,no,no,4,3,2,1,2,5,0,11,13,13

In [10]:
df.isna().sum()

school        0
sex           0
age           0
address       0
famsize       0
Pstatus       0
Medu          0
Fedu          0
Mjob          0
Fjob          0
reason        0
guardian      0
traveltime    0
studytime     0
failures      0
schoolsup     0
famsup        0
fatherd       0
activities    0
nursery       0
higher        0
internet      0
romantic      0
famrel        0
freetime      0
goout         0
Dalc          0
Walc          0
health        0
absences      0
G1            0
G2            0
G3            0
dtype: int64

In [11]:
for i in df.columns:
    if df[i].dtypes == object and df[i].nunique() == 2:
        values = df[i].unique()
        df[i] = df[i].replace({values[0]: 0, values[1]: 1})
        print(i)

school
sex
address
famsize
Pstatus
schoolsup
famsup
fatherd
activities
nursery
higher
internet
romantic

C:\Users\leona\AppData\Local\Temp\ipykernel_1200\1830227894.py:4: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df[i] = df[i].replace({values[0]: 0, values[1]: 1})

In [12]:
for i in df.columns:
    if df[i].dtypes == object:
        display(df[i].value_counts(), i)

Mjob
other       258
services    136
at_home     135
teacher      72
health       48
Name: count, dtype: int64

'Mjob'

Fjob
other       367
services    181
at_home      42
teacher      36
health       23
Name: count, dtype: int64

'Fjob'

reason
course        285
home          149
reputation    143
other          72
Name: count, dtype: int64

'reason'

guardian
mother    455
father    153
other      41
Name: count, dtype: int64

'guardian'

In [13]:
df = pd.get_dummies(df, columns=['Mjob'], dtype=int)
df = pd.get_dummies(df, columns=['Fjob'], dtype=int)
df = pd.get_dummies(df, columns=['reason'], dtype=int)
df = pd.get_dummies(df, columns=['guardian'], dtype=int)

In [14]:
df.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,traveltime,studytime,failures,schoolsup,famsup,fatherd,activities,nursery,higher,internet,romantic,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3,Mjob_at_home,Mjob_health,Mjob_other,Mjob_services,Mjob_teacher,Fjob_at_home,Fjob_health,Fjob_other,Fjob_services,Fjob_teacher,reason_course,reason_home,reason_other,reason_reputation,guardian_father,guardian_mother,guardian_other
0,0,0,18,0,0,0,4,4,2,2,0,0,0,0,0,0,0,0,0,4,3,4,1,1,3,4,0,11,11,1,0,0,0,0,0,0,0,0,1,1,0,0,0,0,1,0
1,0,0,17,0,0,1,1,1,1,2,0,1,1,0,0,1,0,1,0,5,3,3,1,1,3,2,9,11,11,1,0,0,0,0,0,0,1,0,0,1,0,0,0,1,0,0
2,0,0,15,0,1,1,1,1,1,2,0,0,0,0,0,0,0,1,0,4,3,2,2,3,3,6,12,13,12,1,0,0,0,0,0,0,1,0,0,0,0,1,0,0,1,0
3,0,0,15,0,0,1,4,2,1,3,0,1,1,0,1,0,0,1,1,3,2,2,1,1,5,0,14,14,14,0,1,0,0,0,0,0,0,1,0,0,1,0,0,0,1,0
4,0,0,16,0,0,1,3,3,1,2,0,1,1,0,0,0,0,0,0,4,3,2,1,2,5,0,11,13,13,0,0,1,0,0,0,0,1,0,0,0,1,0,0,1,0,0

In [15]:
df.shape

(649, 46)

In [16]:
df.dtypes

school               int64
sex                  int64
age                  int64
address              int64
famsize              int64
Pstatus              int64
Medu                 int64
Fedu                 int64
traveltime           int64
studytime            int64
failures             int64
schoolsup            int64
famsup               int64
fatherd              int64
activities           int64
nursery              int64
higher               int64
internet             int64
romantic             int64
famrel               int64
freetime             int64
goout                int64
Dalc                 int64
Walc                 int64
health               int64
absences             int64
G1                   int64
G2                   int64
G3                   int64
Mjob_at_home         int32
Mjob_health          int32
Mjob_other           int32
Mjob_services        int32
Mjob_teacher         int32
Fjob_at_home         int32
Fjob_health          int32
Fjob_other           int32
Fjob_services        int32
Fjob_teacher         int32
reason_course        int32
reason_home          int32
reason_other         int32
reason_reputation    int32
guardian_father      int32
guardian_mother      int32
guardian_other       int32
dtype: object

In [17]:
x = df.drop('G3', axis=1)
y = df['G3']

In [18]:
from sklearn.ensemble import AdaBoostRegressor
from sklearn.model_selection import StratifiedKFold, cross_val_score

In [19]:
strat = StratifiedKFold(n_splits=5, shuffle=True, random_state=15)

In [20]:
model = AdaBoostRegressor(n_estimators=100)
result = cross_val_score(model, x, y, cv=strat, n_jobs=-1)
print(f'The result of this model was: {result.mean()}')

c:\Users\leona\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\model_selection\_split.py:737: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=5.
  warnings.warn(

The result of this model was: 0.7819140363075744