In [12]:
import pandas as pd
import numpy as np

In [13]:
data = '/Users/leona/OneDrive/Documentos/GitHub/Machine-learning-studies-2/ensemble/AdaBoost/exercise/school_grades_weca_dataset.csv'

In [14]:
df = pd.read_csv(data)

In [15]:
df.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,4,0,11,11
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,2,9,11,11
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,6,12,13,12
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,0,14,14,14
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,0,11,13,13

In [16]:
df.isna().sum()

school        0
sex           0
age           0
address       0
famsize       0
Pstatus       0
Medu          0
Fedu          0
Mjob          0
Fjob          0
reason        0
guardian      0
traveltime    0
studytime     0
failures      0
schoolsup     0
famsup        0
fatherd       0
activities    0
nursery       0
higher        0
internet      0
romantic      0
famrel        0
freetime      0
goout         0
Dalc          0
Walc          0
health        0
absences      0
G1            0
G2            0
G3            0
dtype: int64

In [17]:
for i in df.columns:
    if df[i].dtypes == object:
        display(df[i].value_counts())

school
GP    423
MS    226
Name: count, dtype: int64

sex
F    383
M    266
Name: count, dtype: int64

address
U    452
R    197
Name: count, dtype: int64

famsize
GT3    457
LE3    192
Name: count, dtype: int64

Pstatus
T    569
A     80
Name: count, dtype: int64

Mjob
other       258
services    136
at_home     135
teacher      72
health       48
Name: count, dtype: int64

Fjob
other       367
services    181
at_home      42
teacher      36
health       23
Name: count, dtype: int64

reason
course        285
home          149
reputation    143
other          72
Name: count, dtype: int64

guardian
mother    455
father    153
other      41
Name: count, dtype: int64

schoolsup
no     581
yes     68
Name: count, dtype: int64

famsup
yes    398
no     251
Name: count, dtype: int64

fatherd
no     610
yes     39
Name: count, dtype: int64

activities
no     334
yes    315
Name: count, dtype: int64

nursery
yes    521
no     128
Name: count, dtype: int64

higher
yes    580
no      69
Name: count, dtype: int64

internet
yes    498
no     151
Name: count, dtype: int64

romantic
no     410
yes    239
Name: count, dtype: int64

In [ ]:
for i in df.columns:
    if df[i].dtypes == object: